footer {
	background: #2D2C2C;
	color: white;
	width: 100%;
	height: 200px;
}
.contact-links {
	display: flex;
	padding-top: 35px;
}
footer p {
	padding-left: 35px;
}

@media screen and (max-width: 780px) {
	footer {
		max-width: 780px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.contact-links {
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		gap: 15px;
	}
	.contact-links ul {
		padding: 0;
		text-align: center;
	}
}
